body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    color: #444;
    font-size: 22px;
}

#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: left;
    font-size: 18px;
}

div {
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.48;
}

h3 {
    font-weight: normal;
}

table#risk {
    margin: 25px auto;
}

table#risk th {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

table#risk td {
    border: 1px solid #d2cece;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin: 0px;
    border-radius: 4px;
}

table#risk td.note {
    background-color: #b1f9b1;
}

table#risk td.low {
    background-color: #ffffa4;
}

table#risk td.medium {
    background-color: #ffca69;
}

table#risk td.high {
    background-color: #ff6c6c;
}

table#risk td.critical {
    background-color: red;
    color: #fff;
}

table#risk td.x,
table#risk td.y {
    background-color: #fff;
}

table#risk .impact,
table#risk .likelihood {
    font-weight: bold;
    font-varient: italic;
}

table#risk .noborder {
    border: none;
}

@media (max-width: 1024px) {
    #content {
        width: 95%;
    }
    div {
        font-size: 2em;
        line-height: 1.75;
        margin: 2.25em auto;
    }
}